{% extends 'base.html.twig' %}
{% block body %}
    <!--{{ dump() }}-->
     <table id="view" style="width: 100%" border="1">
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Code</th>
            <th>Count</th>
        </tr>
        {% for shortUrl in shortUrls %}
        <tr>
            <td>{{ shortUrl.id }}</td>
            <td>{{ shortUrl.url }}</td>
            <td><a target="_blank" href="/{{ shortUrl.short }}">{{ shortUrl.short }}</a></td>
            <td>{{ shortUrl.count }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}